* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  position: sticky;
  z-index: 1;
  top: 0;
}

.navbar-container {
  position: relative;
  display: flex;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
  align-items: center;
}

.logo-container {
  flex: 1;
}

.logo a {
  font-size: 20px;
  color: #4dbf00;
  text-decoration: none;
}

.logo img {
  width: 6%;
}

.menu-container {
  display: inline-flex;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 45px;
  background-color: #fff;
  padding: 10px 50px;
  color: black;
  font-family: "Sen", sans-serif;
  font-size: unset;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

.menu-list-item.active {
  font-weight: bold;
}

.menu-list-item:hover {
  font-weight: bold;
  background-color: #0079c1;
}

.search-container {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container p {
  width: 232px;
  align-items: baseline;
  display: flex;
  margin-top: 20px;
  font-size: 30px;
}

.search-container img {
  width: 30px;
}

.search-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0px;
  padding: 20px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 10px;
  font-size: 14px;
}

.search-bar button {
  background: transparent;
  outline: none;
  border: none;
  height: 46px;
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 34px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }
}

@media only screen and (min-width: 940px) {
  .hamburger-menu {
    display: none;
  }
}
